{% extends 'base.html' %}
{% block title %}Submit{% endblock %}

{% block nav %}
<ul>
  <li><a href="{{ url_for('submit') }}" class="active">Submit a message</a></li>
  <li><a href="{{ url_for('view') }}">View messages</a></li>
</ul>
{% endblock %}

{% block header %}<h2>Submit a message</h2>{% endblock %}

<!-- CONTENT BEGINS HERE -->

{% block content %}
  <form method="post">
      Your message:
      <br>
      <textarea name="message" id="message"></textarea>
      <br><br>
      Your name or handle:
      <br>
      <input type="text" name="handle" id="handle">
      <br><br>
      <input type="submit" value="Submit message">
  </form>

  {% if submitted %}
    <br>
    Thanks for submitting a message!
  {% endif %}
{% endblock %}