{% extends 'base.html' %}
{% block title %}View{% endblock %}

{% block nav %}
<ul>
  <li><a href="{{ url_for('submit') }}">Submit a message</a></li>
  <li><a href="{{ url_for('view') }}" class="active">View messages</a></li>
</ul>
{% endblock %}

{% block header %}<h2>View messages</h2>{% endblock %}

<!-- CONTENT BEGINS HERE -->

{% block content %}
  This is a list of up to 5 random messages in the database. The number gives the order in which they were submitted.
  <br>
  {% for message in messages %}
    <br>
    <b>{{ message[0] }}:</b> "{{ message[1] }}"
    <br>
    <i>- {{ message[2] }}</i>
    <br>
  {% endfor %}
{% endblock %}